@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.title {
  text-align: center;
  color: rgb(209, 86, 38);
  padding: 40px;
}

.search_box {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: 1px solid #ccc;
}

.search_input {
  flex: 1;
  height: 36px;
  padding: 0 12px;
  outline: none;
  border: none;
  font-size: 14px;
  color: rgb(209, 86, 38);
}

.search_btn {
  cursor: pointer;
  padding: 0 16px;
  border: none;
  background-color: rgb(255, 142, 97);
  border: 1px solid rgb(255, 142, 97);
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100vw;
  padding: 40px 80px;
  gap: 40px 20px;
}

.card {
  background-color: rgb(2, 102, 67);
  color: rgb(199, 255, 252);
  overflow: hidden;
}

.card-img {
  width: 100%;
}

.card-info {
  padding: 20px;
}

.hide {
  display: none;
}
